<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niujl.mapper.SmsCodeMapper">

    <resultMap id="SmsCodeResult" type="com.niujl.bean.SmsCode">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="phone_cipher" property="phoneCipher" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP"/>
        <result column="used" property="used" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insert" parameterType="com.niujl.bean.SmsCode" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_sms_code(phone_cipher, code, expire_time, used)
        VALUES(
            #{phoneCipher,jdbcType=VARCHAR},
            #{code,jdbcType=VARCHAR},
            #{expireTime,jdbcType=TIMESTAMP},
            IFNULL(#{used,jdbcType=TINYINT}, 0)
        )
    </insert>

    <select id="findLatestByPhone" resultMap="SmsCodeResult">
        SELECT id, phone_cipher, code, expire_time, used, create_time
        FROM user_sms_code
        WHERE phone_cipher = #{phoneCipher}
        ORDER BY id DESC
        LIMIT 1
    </select>

    <select id="countSentAfter" resultType="int">
        SELECT COUNT(1)
        FROM user_sms_code
        WHERE phone_cipher = #{phoneCipher}
          AND create_time &gt;= #{since}
    </select>

    <update id="markUsed">
        UPDATE user_sms_code SET used = 1 WHERE id = #{id}
    </update>

</mapper>
